body{
  background-color: rgb(1, 54, 52);
  color: white;
}

p{
  font-size: 1.2rem;
  font-weight: 500;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a{
  background-color: lightseagreen;
  color: white;
  text-decoration: none;
  padding: 0.2rem 1rem;
  border-radius: 1.2rem;
  font-weight: 500;
  transition: 0.2s;
}

a:hover{
  background-color: rgb(1, 70, 66);
}

a:active{
  background-color: white;
  color: rgb(1, 70, 66);
}